@model KTGiuaKy.Models.SinhVien
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Delete Sinh Viên</h2>
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SinhVien</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">MaSV</dt>
        <dd class="col-sm-10">@Model.MaSV</dd>
        <dt class="col-sm-2">HoTen</dt>
        <dd class="col-sm-10">@Model.HoTen</dd>
        <dt class="col-sm-2">GioiTinh</dt>
        <dd class="col-sm-10">@Model.GioiTinh</dd>
        <dt class="col-sm-2">NgaySinh</dt>
        <dd class="col-sm-10">@Model.NgaySinh.ToShortDateString()</dd>
        <dt class="col-sm-2">Hinh</dt>
        <dd class="col-sm-10">
            @if (!string.IsNullOrEmpty(Model.Hinh))
            {
                <img src="@Model.Hinh" alt="Hinh" style="width: 100px; height: auto;" />
            }
        </dd>
        <dt class="col-sm-2">MaNganh</dt>
        <dd class="col-sm-10">@Model.MaNganh</dd>
    </dl>
    <form asp-action="DeleteConfirmed" method="post">
        <input type="hidden" name="id" value="@Model.MaSV" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </form>
</div>